<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ws://172.28.4.251:8003/connect
<div>
    <a href="/socketio">socketio</a>
</div>
</body>
<script>
    // var socket = new WebSocket("ws://172.28.4.251:8003/socket.io");
    // socket.onopen = function() {
    //     console.log('connected to server!');
    //     socket.send(JSON.stringify({
    //         type: 'login',
    //         uid: 111,
    //     }));
    //     setInterval(function() {
    //         console.log('Hello!');
    //         socket.send('Hello!');
    //     }, 3000)
    // };
    // var socket_func = {};
    //
    // socket.onmessage = function(res) {
    //     console.log(res);
    // }
    //
    // const sn = a=> "ss";
    //
    // const x = (a,b) => {
    //
    // }
</script>
</html>